
@font-face {
  font-family: 'Harmonia-Sans-Pro-Cyr';
  src: url('../fonts/HarmoniaSansProCyr-Condensed-SemiBold/HarmoniaSansProCyr-SemiBdCn.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Harmonia-Sans-Pro-Cyr-Bold';
  src: url('../fonts/HarmoniaSansProCyr-Condensed-Bold/HarmoniaSansProCyr-BoldCond.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/RobotoCondensed-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Condensed-Bold';
  src: url('../fonts/RobotoCondensed-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
